  <p>▄██████████████▄.▐█▄▄▄▄█▌<br />
  ████████████████▌▀▀██▀▀<br />
  ████▄████████████▄▄█▌<br />
  ▄▄▄▄▄██████████████▀ </p>

  <p> You've found the infamous fail whale. Whatever will you do? </p>

  <p>He has a message for you!</p>

  <p><%= @content %></p>
